<th:block 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

	<th:block th:fragment="footer">

		<th:block th:utext="${adBlockCss}"></th:block>	
	
		<script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
		<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="//cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
	
		<th:block th:if="${@environment.acceptsProfiles('prod') eq true}">
			<link rel="stylesheet" href="/resources/css/combined-styles.min.css" />
			<script src="/resources/js/combined-scripts.min.js"></script>
			<script type="text/javascript" src="/resources/js/ads.js"></script>
		</th:block>
		<th:block th:if="${@environment.acceptsProfiles('prod') eq false}">
			<!-- ***** ALL JAVASCRIPTS ***** -->
			<script type="text/javascript" src="/resources/js/jquery.unveil.js"></script>
			<script type="text/javascript" src="/resources/js/jquery.cookie.js"></script>
			<script type="text/javascript" src="/resources/js/bootstrap-dialog.min.js"></script>
			<script type="text/javascript" src="/resources/js/main.js"></script>
			<script type="text/javascript" src="/resources/js/index.js"></script>
			<script type="text/javascript" src="/resources/js/ads.js"></script>
			<script type="text/javascript" src="/resources/js/jquery.ba-throttle-debounce.min.js"></script>
			<script type="text/javascript" src="/resources/js/register.js"></script>
			<script type="text/javascript" src="/resources/js/blogs.js"></script>
			<script type="text/javascript" src="/resources/js/news.js"></script>
			<script type="text/javascript" src="/resources/js/account.js"></script>
			<script type="text/javascript" src="/resources/js/users.js"></script>
			<script type="text/javascript" src="/resources/js/admin-categories.js"></script>
			<!-- ***** ALL JAVASCRIPTS ***** -->

			<!-- ***** ALL STYLES ***** -->
			<link rel="stylesheet" href="/resources/css/bootstrap-dialog.min.css" />
			<link rel="stylesheet" href="/resources/css/custom.css" />
			<!-- ***** ALL STYLES ***** -->

		</th:block>
		
		<!-- Begin Cookie Consent plugin by Silktide -->
		<script type="text/javascript">
		    window.cookieconsent_options = {"message":"This website uses cookies to ensure you get the best experience on our website","dismiss":"Got it!","learnMore":"More info","link":null,"theme":"dark-bottom"};
		</script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
		<!-- End Cookie Consent plugin -->
	
		<div id="footer"></div>
		<br />	
	
		<th:block th:utext="${configuration.footer}"></th:block>
	</th:block>

</th:block>